<main class="container main-content">
    <section class="about-section">
        <div class="about-image-wrapper">
            <img src="assets/img/dev.png" alt="Oleh Ivanskyi - Java Developer and Project Manager" loading="lazy" />
        </div>
        <div class="about-text-wrapper">
            <h2>About Me</h2>
            <div class="separator"></div>
            <p>
                I am a Java Developer with 3+ years of experience, skilled in team collaboration and streamlining development
                processes. I specialize in turning complex goals into actionable plans, using project management knowledge to drive success.
            </p>
        </div>
    </section>

    <section class="skills-section">
        <h3>Skills</h3>
        <div class="separator"></div>
        <div class="skills-grid">
            <ul class="skills-list">
                <li><img src="assets/img/icon/java.png" alt="Java Icon" loading="lazy" /> Java Development</li>
                <li><img src="assets/img/icon/spring-boot.png" alt="Spring Icon" loading="lazy" /> Spring Framework</li>
                <li><img src="assets/img/icon/aws.png" alt="AWS Icon" loading="lazy" /> AWS</li>
                <li><img src="assets/img/icon/api.png" alt="API Icon" loading="lazy" /> REST</li>
            </ul>
            <ul class="skills-list">
                <li><img src="assets/img/icon/db.png" alt="Database Icon" loading="lazy" /> SQL/NoSQL Databases</li>
                <li><img src="assets/img/icon/angular.png" alt="Angular Icon" loading="lazy" /> Angular</li>
                <li><img src="assets/img/icon/pm.png" alt="Project Management Icon" loading="lazy" /> Project Management</li>
                <li><img src="assets/img/icon/agile.png" alt="Agile Icon" loading="lazy" /> Agile Methodologies</li>
            </ul>
        </div>
    </section>

    <section class="contacts-section">
        <div class="contact-card">
            <i class="fab fa-github"></i>
            <a href="https://github.com/ivanskyi" target="_blank" rel="noopener noreferrer">github.com/ivanskyi</a>
        </div>
        <div class="contact-card">
            <i class="fas fa-envelope"></i>
            <a href="mailto:olehivanskyi@gmail.com">olehivanskyi@gmail.com</a>
        </div>
    </section>

    <section class="courses-section">
        <h2>My Courses</h2>
        <div class="separator"></div>
        <ul>
            <li>
                <strong>Certificate from IT Hillel:</strong>
                <p>
                    This certificate is awarded for completing the Project Manager course, showcasing my expertise in managing projects effectively.
                </p>
                <a href="https://certificate.ithillel.ua/view/70138124" target="_blank" rel="noopener noreferrer">View Certificate</a>
            </li>
        </ul>
    </section>
</main>
